.custom-table-container {
    width: 35%; /* Ancho fijo inicial */
    height: 82vh;
    max-width: 600px; /* Limita el ancho máximo */
    min-width: 300px; /* Evita que se encoja demasiado */
    background-color: #f0f0f0; /* Fondo gris (plomo) */
    border-radius: 12px; /* Bordes redondeados */
    padding: 5px; /* Espaciado interno */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    overflow: hidden; /* Evita desbordamiento */
  }

   